extends ../../layout

block content
  h1= title
  p Welcome to #{title}

  - var students = data
  
  table.indextable
    tr
      th ID
      th FirstName
      th MiddleInitial
      th LastName
      th RegistrationDate
      th Email
      th PrimaryPhoneNumber
      th NativeLanguage
      th Gender
      th Street
      th City
    - each student in students
      tr
        td= student.ID
        td= student.FirstName
        td= student.MiddleInitial
        td= student.LastName
        td= student.RegistrationDate
        td= student.Email
        td= student.PrimaryPhoneNumber
        td= student.NativeLanguage
        td= student.Gender
        td= student.Street
        td= student.City
        
