extends ../../layout

block content
  h1 Students


  a(href='/students/create') Create Student
  a(href='/students/update') Update Student
  a(href='/students/delete') Delete Student
   
  - if (data)
    - var students = data
    table.indextable
      tr
        th ID
        th FirstName
        th MiddleInitial
        th LastName
        th RegistrationDate
        th NativeLanguage
        th Gender
      - each student in students
        tr
          td= student.ID
          td= student.FirstName
          td= student.MiddleInitial
          td= student.LastName
          td= student.RegistrationDate
          td= student.NativeLanguage
          td= student.Gender
  - else
    div No students.