extends ../../layout

block content
  h1= title
  p Welcome to #{title}

  - var gradebook = data
  
  table.indextable
    tr
      th ID
      th StudentID
      th TestID
      th Score
    - each gradebook in grades
      tr
        td= gradebook.ID
        td= gradebook.StudentID
        td= gradebook.TestID
        td= gradebook.Score