extends ../../layout

block content

  h1 Courses

  - var courses = data
  a(href='/courses/create') Create Course
  a(href='/courses/update') Update Course
  a(href='/courses/delete') Delete Course
  
  
  table.indextable
    tr
      th ID
      th TeacherID
      th FirstName
      th LastName
      th CourseName
      th TimeHeld
      
    - each course in courses
      tr
        td= course.CourseID
        td= course.TeacherID
        td= course.FirstName
        td= course.LastName
        td
          a(href='/courses/'+ course.CourseID)= course.CourseName
        td= course.TimeHeld
        