extends ../../layout

block content
  h1= title
  
  - var d = data
  
  each val in [1,2,3,4]
    a(href='/courses/' + d[0].ID + '/tests/' + val) TEST #{val}
  
  table.indextable
    tr
      th ID
      th Last Name
      th First Name
    each student in data
      tr
        td= student.StudentID
        td= student.LastName
        td= student.FirstName      