extends ../../layout

- var d = data
- var a = assessment

block content
  h1= title
  p Welcome to #{title}

  table.indextable
    tr
      th &nbsp;
      each s in data
        each t in s.tests
          th= s.LastName + ', ' + s.FirstName + ': ' + s.StudentID
          
    tr
      th Test
      each s in data
        each val,key in s.tests
          th= key
      
    each subject in ['Reading','Listening','Writing','Speaking']
      tr
        th= subject
        each s in data
          each t in s.tests
            th &nbsp;
      - var generalSection = 'A1' + subject
      each val,key in assessment[generalSection]
        tr
          td= key
          each s in data
            each v,k in s.tests
              - var thisSection = k + subject /* k is A1, B1 etc, subject is Reading etc */
              - var numWrongAnswers = 0
              - var hasTest = false
              each i in v
                - if (i.subject == subject)
                  - hasTest = true
                  each j in i.wrongAnswers
                    - if (assessment[thisSection][key].indexOf(j) != -1)
                      - numWrongAnswers = numWrongAnswers + 1
                  td= assessment[thisSection][key].length - numWrongAnswers +  ' of ' + assessment[thisSection][key].length
              - if (!hasTest)
                td &nbsp;
                  
/* http://www.jsonmate.com/permalink/569fd39b0b1b5e5854d3131d */